global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "auth_service"
    static_configs:
      - targets: ["ms-auth:8001"]

  - job_name: "analisis_service"
    static_configs:
      - targets: ["ms-analisis:8082"]

  - job_name: "consumer_service"
    static_configs:
      - targets: ["ms-consumer:8005"]

  - job_name: "node_1"
    static_configs:
      - targets: ["app-node-1:8000"]

  - job_name: "node_2"
    static_configs:
      - targets: ["app-node-2:8000"]

  - job_name: "node_3"
    static_configs:
      - targets: ["app-node-3:8000"]