global:
  scrape_interval: 15s # Monitorea cada 15 segundos

scrape_configs:
  # 1. Monitoreo del propio Prometheus
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # 2. Monitoreo del Balanceador NGINX
  # NGINX requiere el exporter (no incluido, pero monitoreamos solo el endpoint de salud)
  - job_name: 'nginx_balancer'
    metrics_path: /health
    static_configs:
      - targets: ['balancer:80'] # Balanceador

  # 3. Monitoreo de los 3 Nodos de la Aplicación (FastAPI)
  - job_name: 'app_nodes'
    metrics_path: /health # Usando el endpoint /health de FastAPI
    static_configs:
      - targets: ['app-node-1:8000', 'app-node-2:8000', 'app-node-3:8000']
    
  # 4. Monitoreo de RabbitMQ (Cola)
  - job_name: 'rabbitmq'
    static_configs:
      - targets: ['queue:15692'] # Puerto de Prometheus exporter de RabbitMQ (asumiendo que está habilitado)

  # 5. Monitoreo de Redis (Caché)
  # Requiere un exporter, pero para esta demo, usaremos solo el servicio
  - job_name: 'redis'
    static_configs:
      - targets: ['cache:6379']